<!DOCTYPE html>
<html lang="en">

<head>
    {{>top_header}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- for right side -->
                    <div class="col-md-6 col-12 main-header-right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="about-page" class="img-fluid" title="about-us-page">
                        </figure>
                    </div>
                    <!-- for left side -->
                    <div class="col-md-6 col-12 main-header-left">
                        <p>Welcome To about Page</p>
                        <h1>I am a  <span class="text_clr"> Full Stack Developer </span> and a self learner </h1>
                        <a href="https://www.linkedin.com/in/chinmaydora/"><button>Click Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>

</html>