<!DOCTYPE html>
<html lang="en">
<head>
    {{>header_links}}
    <title>about</title>
</head>
<body>
    {{>header}}
    <h1>This is {{myname}} about page welcome</h1>
    <h2>its a partials tut</h2>
    {{>footer}}
</body>
</html>