<!DOCTYPE html>
<html lang="en">

<head>
    {{>header_links}}
    <title>Home</title>
</head>

<body>
    {{>header}}
    <h1>This is {{myname}} home page welcome.</h1>
    {{>footer}}
</body>

</html>